@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
$ff : 'Libre Baskerville',
serif;
$ff-poppins: 'Poppins',
sans-serif;
$ff-impact: Impact,
Haettenschweiler,
'Arial Narrow Bold',
sans-serif;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg-base: #E82E83;
$bg-blk: #000000;
$bg-dot-green: #13E831;
$fs-16: 16px;
$fs-20: 20px;
$fs-23: 23px;
$fs-23: 23px;
$fs-30: 30px;
$fs-31: 31px;
$fs-35: 35px;
$fs-45: 45px;
$fc-blk: #323232;
$fc-hover: #323232bf;
$fc-white: #FFFFFF;