body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        @media screen and (max-width: 1308px) {
            width: 100%;
        }
        .l-landing__hero {
            position: relative;
            max-width: 100%;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .hero-img {
                width: 100.25%;
                height: 1000px;
                @media screen and (max-width: 767px) {
                    height: 815px;
                }
            }
            .l-div__top {
                position: absolute;
                top: 0;
                font-family: $ff;
                font-weight: bold;
                background-color: $bg-base;
                font-size: $fs-20;
                padding: 18.5px 0;
                max-width: 100%;
                margin: 0 auto;
                width: 100%;
                @media screen and (max-width: 508px) {
                    font-size: 14px;
                }
            }
            .l-content__container {
                position: absolute;
                top: 67px;
                right: 0;
                left: 0;
                max-width: 1133px;
                margin: 0 auto;
                width: 100%;
                .l-header__nav {    
                    &>img {
                        max-width: 158.84px;
                        width: 100%;
                        height: 78.05px;
                        margin-top: 33px;
                        margin-left: 4px;
                        @media screen and (max-width: 767px) {
                            margin-left: 15px;
                        }
                        @media screen and (max-width: 1200px) and (min-width: 768px) {
                            margin-left: 50px;
                        }
                    }
                    ul {
                        margin: 67px 13px;
                        li {
                            &:nth-child(1) {
                                margin-left: 7px;
                            }
                            &:nth-child(2),
                            &:nth-child(5),
                            &:nth-child(6),
                            &:nth-child(7) {
                                margin-left: 55px;
                            }
                            &:nth-child(3),
                            &:nth-child(4) {
                                margin-left: 68px;
                            }
                            &>a {
                                font-family: $ff;
                                text-decoration: none;
                                font-size: $fs-16;
                                font-weight: bold;
                                color: $fc-blk;
                                &:hover {
                                    color: $fc-hover;
                                }
                            }
                        }
                    }
                }
                .l-available__box {
                    width: 364px;
                    height: 353px;
                    background-color: $bg-base;
                    position: relative;
                    top: 90px;
                    @media screen and (max-width: 1200px) and (min-width: 768px) {
                       margin-left: 65px;
                    }
                    @media screen and (max-width: 767px){
                        top: 30px;
                        margin-left: 30px;
                        width: 264px;
                        height: 253px;
                    }
                    .l-available {
                        position: relative;
                        top: 42px;
                        margin: 0 auto 40px;
                        max-width: 220px;
                        width: 100%;
                        height: 61px;
                        border-radius: 10px;
                        background-color: $bg-blk;
                        .l-available__text {
                            &>span {
                                background-color: $bg-dot-green;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                            &>p {
                                font-size: $fs-16;
                                font-weight: bold;
                                font-family: $ff;
                            }
                        }
                    }
                    &>p {
                        font-size: 60px;
                        font-family: $ff-impact;
                        font-weight: 400;
                        color: $fc-white;
                        padding-top: 5px;
                        line-height: 76px;
                        margin-left: 50px;
                        @media screen and (max-width: 767px) {
                            font-size: 36px;
                            line-height: 47px;
                        }
                    }
                }
                .l-free__text {
                    &>p {
                        position: relative;
                        top: 67.4px;
                        margin-left: 15px;
                        line-height: 39px;
                        font-family: $ff-poppins;
                        font-size: $fs-31;
                        color: $fc-blk;
                        padding-top: 40px;
                        @media screen and (max-width: 767px) and (min-width: 391px) {
                            margin-left: 30px;
                            padding-top: 0;
                        }
                         @media screen and (max-width: 1200px) and (min-width: 768px) {
                            margin-left: 60px;
                        }
                        @media screen and (max-width: 390px) {
                            margin-left: 5px;
                        }
                    }
                }
                .l-loginregister {
                    position: relative;
                    top: 46px;
                     @media screen and (max-width: 1200px) and (min-width: 768px) {
                        margin-left: 40px;
                    }
                    @media screen and (max-width: 767px) and (min-width: 391px) {
                       margin-left: 15px;
                    }
                    .l-btn__group {
                        &>button {
                            &:nth-child(1) {
                                padding: 11px 0!important;
                                color: $fc-white;
                                font-family: $ff;
                                font-size: $fs-20;
                                font-weight: bold;
                                @media screen and (max-width: 767px) {
                                    padding: 6px!important;
                                    width: 165px!important;
                                }
                            }
                            &:nth-child(2) {
                                padding: 11px 0!important;
                                background-color: #FFFFFF!important;
                                color: #FE9017!important;
                                font-family: $ff;
                                font-size: $fs-20;
                                font-weight: bold;
                                @media screen and (max-width: 767px) {
                                    padding: 6px!important;
                                    width: 165px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .l-welcome {
            background-image: url("../../../public/img/section2-bg.png");
            background-repeat: no-repeat;
            background-position: 55% 74%;
            background-size: auto;
            margin-bottom: 178px;
            @media screen and (max-width: 1126px) {
                padding: 0 30px;
            }
            @media screen and (max-width: 390px) {
                padding: 0 5px;
                margin-bottom: 95px;
            }
            .l-welcome__text {
                max-width: 1110px;
                width: 100%;
                margin: 0 auto;
                background-color: $bg-base;
                border-radius: 10px;
                text-align: center;
                padding: 57px 60px;
                position: relative;
                top: -123px;
                @media screen and (max-width: 1146px) and (min-width: 767px) {
                    top: -75px;
                }
                @media screen and (max-width: 767px) and (min-width: 454px) {
                    padding: 50px 20px;
                }
                @media screen and (max-width: 453px) {
                    padding: 50px 10px;
                }
                &>h3 {
                    position: relative;
                    top: 23px;
                    letter-spacing: 0.0124em;
                    font-family: $ff;
                    font-size: $fs-35;
                    font-weight: bold;
                    @media screen and (max-width: 767px) {
                       font-size: 28px;
                    }
                }
                &>p {
                    font-family: $ff;
                    font-size: $fs-23;
                    font-weight: 400;
                    position: relative;
                    top: 20px;
                    padding: 5px 10px;
                    line-height: 42px;
                    @media screen and (max-width: 767px) {
                        font-size: 16px;
                        text-align: justify;
                    }
                }
            }
            .l-welcome__top__rated {
                position: relative;
                top: -16px;
                &>h1 {
                    font-family: $ff;
                    color: $fc-blk;
                    font-size: $fs-45;
                    font-weight: bold;
                }
                .l-toprated__img {
                    max-width: 1140px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                    position: relative;
                    top: 62px;
                    left: 22px;
                    @media screen and (max-width: 1126px) {
                        justify-content: center!important;
                    }
                    @media screen and (max-width: 767px) {
                        max-width: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                    &>li {
                        margin-bottom: 0.3rem;
                        @media screen and (max-width: 1126px) {
                            margin: 0 10px!important;
                        }
                        @media screen and (max-width: 767px) {
                            margin: 0 2px;
                        }
                        &:nth-child(1) {
                            &>dl {
                                position: relative;
                                &>dt {
                                    &>img {
                                        max-width: 365px;
                                        width: 100%;
                                        height: 450px;
                                    }
                                    @media screen and (max-width: 767px) {
                                        &>img {
                                            max-width: 190px;
                                            width: 100%;
                                            height: 200px;
                                        }
                                    }
                                }
                                &>dd {
                                    position: absolute;
                                    bottom: 33px;
                                    .name {
                                        font-family: $ff;
                                        font-size: $fs-30;
                                        font-weight: 400;
                                        @media screen and (max-width: 767px) {
                                            font-size: $fs-16;
                                        }
                                    }
                                    .status {
                                        font-size: $fs-20;
                                        font-weight: 400!important;
                                        font-family: $ff;
                                        margin-left: 12px;
                                        @media screen and (max-width: 767px) {
                                            font-size: 14px;
                                            margin-left: 0;
                                        }
                                        .dot-green {
                                            background-color: #13E831;
                                            width: 14px;
                                            height: 14px;
                                            border-radius: 50%;
                                            display: inline-block;
                                        }
                                    }
                                    &>button {
                                        padding: 17px;
                                        font-family: $ff;
                                    }
                                    @media screen and (max-width: 767px) {
                                        &>button {
                                            padding: 5px 17px;
                                            max-width: 150px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                            &>dl {
                                position: relative;
                                &>dt {
                                    &>img {
                                        max-width: 365px;
                                        width: 100%;
                                        height: 450px;
                                    }
                                    @media screen and (max-width: 767px) {
                                        &>img {
                                            max-width: 190px;
                                            width: 100%;
                                            height: 200px;
                                        }
                                    }
                                }
                                &>dd {
                                    position: absolute;
                                    bottom: 4px;
                                    .name {
                                        font-family: $ff;
                                        font-size: $fs-30;
                                        font-weight: 400;
                                        @media screen and (max-width: 767px) {
                                            font-size: $fs-16;
                                        }
                                    }
                                    .status {
                                        font-size: $fs-20;
                                        font-weight: 400!important;
                                        font-family: $ff;
                                        margin-left: 12px;
                                        @media screen and (max-width: 767px) {
                                            font-size: 14px;
                                            margin: 0;
                                        }
                                        .dot-green {
                                            background-color: #13E831;
                                            width: 14px;
                                            height: 14px;
                                            border-radius: 50%;
                                            display: inline-block;
                                        }
                                    }
                                    &>button {
                                        padding: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
                .l-view__more {
                    position: relative;
                    top: 94px;
                    margin-left: 25px;
                    @media screen and (max-width: 390px) {
                       left: 0;
                    }
                    &>button {
                        padding: 15px;
                        font-weight: bold;
                        font-family: $ff;
                        font-size: 19px;
                        &:hover {
                            color: $fc-blk;
                        }
                    }
                }
            }
        }
        .l-why__text {
            background-color: #FFECD7;
            padding-top: 78px;
            padding-bottom: 128px;
            @media screen and (max-width: 767px) {
                padding-bottom: 80px;
            }
            .l-why__wrapper {
                max-width: 1131px;
                width: 100%;
                margin: 0 auto;
                &>h1 {
                    font-family: $ff;
                    font-size: 44.96px;
                    color: $fc-blk;
                    line-height: 56px;
                    letter-spacing: 0.125rem;
                }
                .l-why__ratings {
                    position: relative;
                    margin-left: 16px;
                    top: 1px;
                    @media screen and (max-width: 1086px) {
                        justify-content: center!important;
                    }
                    @media screen and (max-width: 390px) {
                       margin-left: 0;
                    }
                    &>li {
                        @media screen and (max-width: 1086px) {
                            margin-bottom: 30px;
                        }
                        &>dl {
                            position: relative;
                            &>dt {
                                &>img {
                                    max-width: 357.22px;
                                    width: 100%;
                                }
                            }
                            &>dd {
                                position: absolute;
                                top: 107px;
                                font-family: $ff;
                                &>p {
                                    font-size: 29.97px;
                                    color: $fc-white;
                                    font-weight: 400;
                                    text-align: center;
                                    line-height: 37px;
                                }
                                .btn-wrapper {
                                    position: relative;
                                    top: 1px;
                                    border: 4px solid #FFECD7;
                                    border-radius: 30px;
                                    &>button {
                                        max-width: 192.94px;
                                        width: 100%;
                                        padding: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .l-what__can {
            padding-bottom: 34px;
            .l-what__wrapper {
                @media screen and (max-width: 1013px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
                .l-what__text {
                    position: relative;
                    top: 25px;
                    left: 112px;
                    width: 40%;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        left: 0;
                        padding: 0 20px;
                    }
                     @media screen and (max-width: 1013px) {
                        width: 100%;
                        left: 0;
                        padding: 0 20px;
                    }
                    p:nth-child(1) {
                        font-size: 40px;
                        font-weight: bold;
                        font-family: $ff;
                        @media screen and (max-width: 926px) {
                            margin-top: 30px;
                        }
                    }
                    p:nth-child(2) {
                        font-size: 23px;
                        font-weight: 400;
                        font-family: $ff;
                        margin-top: 20px;
                        @media screen and (max-width: 1200px) {
                            text-align: justify;
                        }
                        @media screen and (max-width: 390px) {
                           font-size: 14px;
                           text-align: justify;
                        }
                    }
                }
                &>img {
                    position: relative;
                    padding-left: 143px;
                    margin-top: 37px;
                    max-width: 682px;
                    width: 100%;
                    @media screen and (max-width: 1013px) {
                        padding-left: 34px;
                    }
                }
            }
        }
        .l-types__reading {
            background-color: #FFECD7;
            padding: 30px 0 137px 0;
            position: relative;
            overflow: hidden;
            .l-wrapper__bg {
                background-image: url("../../../public/img/bg.png");
                background-repeat: no-repeat;
                background-position: -18.5% 32%;
                background-size: 55%;
                width: 100%;
                @media screen and (max-width: 1679px) {
                    background-size: 52%;
                }
                @media screen and (max-width: 1200px) {
                    background: none;
                }
                .l-types__wrapper {
                    position: relative;
                    top: 68px;
                    left: -63px;
                    right: 0;
                    margin: 0 auto;
                    @media screen and (max-width: 1013px) {
                        left: 0;
                    }
                    @media screen and (max-width: 1200px) and (min-width: 1013px) {
                        padding: 0 100px;
                    }
                    .l-types__content {
                        @media screen and (max-width: 1013px) {
                            display: flex!important;
                            flex-direction: column!important;
                            text-align: center!important;
                        }
                        &>img {
                            max-width: 595.85px;
                            width: 100%;
                            @media screen and (max-width: 767px) {
                                padding: 50px;
                            }
                            @media screen and (max-width: 390px) {
                                padding: 0 50px;
                            }
                        }
                        .l-reading__text {
                            position: relative;
                            bottom: 20px;
                            left: 92px;
                            width: 40%;
                            @media screen and (max-width: 1013px) {
                                width: 100%;
                                left: 0;
                                padding: 0 30px;
                                top: 30px;
                            }
                            p:nth-child(1) {
                                font-size: 40px;
                                font-weight: bold;
                                font-family: $ff;
                            }
                            p:nth-child(2) {
                                font-size: 23px;
                                font-weight: 400;
                                font-family: $ff;
                                text-align: justify;
                                @media screen and (max-width: 1200px) {
                                    text-align: justify;
                                }
                                @media screen and (max-width: 390px) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .l-why__psychics {
            .l-why__wrapper {
                padding: 100px 0 36px;
                @media screen and (max-width: 1013px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
                @media screen and (max-width: 1200px) and (min-width: 768px) {
                    padding-right: 44px;
                    padding-left: 44px;
                    padding-top: 30px;
                    padding-bottom: 36px;
                }
                @media screen and (max-width: 767px) {
                    padding-right: 0;
                    padding-left: 0;
                    padding-top: 30px;
                }
                &>.l-psychics__text {
                    position: relative;
                    left: 28px;
                    width: 40%;
                    @media screen and (max-width: 1013px) {
                        width: 100%;
                        left: 0;
                        padding: 0 30px;
                    }
                    p:nth-child(1) {
                        font-size: 40px;
                        font-weight: bold;
                        font-family: $ff;
                        letter-spacing: 0.0125em;
                        @media screen and (max-width: 926px) {
                            margin-top: 30px;
                        }
                    }
                    p:nth-child(2) {
                        font-size: 23px;
                        font-weight: 400;
                        font-family: $ff;
                        line-height: 35px;
                        @media screen and (max-width: 390px) {
                            font-size: 14px;
                            text-align: justify;
                        }
                        @media screen and (max-width: 1200px) {
                            text-align: justify;
                        }
                    }
                }
                &>img {
                    max-width: 470px;
                    width: 100%;
                    position: relative;
                    top: -30px;
                    left: 44px;
                    @media screen and (max-width: 1013px) {
                        top: 0;
                        left: 0;
                    }
                    @media screen and (max-width: 390px) {
                        padding: 0 20px;
                    }
                }
            }
        }
        .footer {
            background-image: url("../../../public/img/footer.jpg");
            background-repeat: no-repeat;
            background-position: 53% 3%;
            background-size: auto;
            padding-top: 60px;
            overflow: hidden;
            width: 100%;
            @media screen and (max-width: 518px) {
                padding-top: 0;
                background-size: 100% 100%;
            }
            @media screen and (min-width: 1921px) {
                background-size: 100% 100%;
            }
            .footer__wrapper {
                max-width: 100%;
                width: 100%;
                &>img {
                    max-width: 220px;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    margin-top: -7px;
                    margin-bottom: 20px;
                    @media screen and (max-width: 518px) {
                        margin-top: 40px;
                        margin-bottom: 0;

                    }
                }
                .offers {
                    font-size: 16px;
                    color: #FFFFFF;
                    font-weight: 400;
                    opacity: 0.5;
                    text-align: center;
                    letter-spacing: 0.01em;
                    line-height: 19px;
                    font-family: $ff;
                }
                .reserved {
                    font-size: 16px;
                    font-family: $ff;
                    color: $fc-white;
                    opacity: 0.5;
                    text-align: center;
                    margin-bottom: 20px;
                }
                hr {
                    margin-top: 7rem;
                    margin-bottom: 1rem;
                    border: 0;
                    border-top: 1px solid rgba(255, 255, 255, 0.467);
                }
                .nav-footer {
                    position: relative;
                    top: 43px;
                    right: 53px;
                    @media screen and (max-width: 390px) {
                        right: 0;
                    }
                    @media screen and (min-width: 391px) and (max-width: 600px) {
                        right: 0;
                    }
                    &>div {
                        &>a {
                            font-size: 18px;
                            font-family: $ff;
                            font-weight: 400;
                            text-decoration: none;
                            &:hover {
                                color: #d3d3d3bf;
                            }
                            .dot-oranger {
                                background-color: #FE9017;
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                display: inline-block;
                            }
                        }
                        &:nth-child(1) {
                            // padding-left: 235px;
                        }
                        @media screen and (max-width: 1196px) and (min-width: 972px) {
                            &:nth-child(1) {
                                padding-left: 100px;
                            }
                        }
                        @media screen and (max-width: 971px) {
                            &:nth-child(1) {
                                padding-left: 0;
                            }
                        }
                        &:nth-child(2) {
                            position: relative;
                            left: 179px;
                            @media screen and (max-width: 926px) {
                                left: 86px;
                            }
                            @media screen and (min-width: 391px) and (max-width: 600px) {
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }